        <div id="head--logo">
          <div class="site-avatar">
                <a href="{{ site.baseurl }}/" class="back-to-home">
                        JASAKONVEKSI.COM<br/>
                        <span>Jakarta, Depok &amp; Bandung</span>
                </a>
                <blockquote id="punch--line">
                        <span>"Konveksi kami melayani pembuatan baju seragam dan apparel.<br/>Juga melayani grosir baju polos dan seragam safety."</span>
                        <br/><br/>
                        <a href="#konveksi--seragam">BIKIN BAJU</a><a href="#" class="x-last">GROSIR BAJU</a>
                </blockquote>
          </div>
        </div>
