        <div style="border-top: 2px solid #111;background: #ffe766;border-bottom: 2px solid #111;">
          <div class="container">
            <ul id="menutop">
              <li><a href="{{site.baseurl}}/daftar-harga-konveksi-kaos.html"><img src="https://2.bp.blogspot.com/-cjI8lhHBeyc/WNSeRxR80tI/AAAAAAAAEEM/tzwLkw9FjpogDK4uNLg70lxvKpzVBb9bwCLcB/s200/jual-katun-combed-30s.jpg" /></a>MAKLOON T-SHIRT</li>
              <li><a href="{{site.baseurl}}/daftar-harga-konveksi-seragam.html"><img src="https://68.media.tumblr.com/0b8e61feef1fac3e9a5bc0df12f979ff/tumblr_oo1ek9hlej1r4owcyo1_250.jpg" /></a>MAKLOON KEMEJA</li>
              <li><a href="{{site.baseurl}}/daftar-harga-jahit-celana.html"><img src="https://68.media.tumblr.com/ff3e8e90e91159c4b4e5123919f851dc/tumblr_oo1etnRAGa1r4owcyo1_r1_250.jpg" /></a>MAKLOON CELANA</li>
              <li><a href="{{site.baseurl}}/menerima-pembuatan-label-baju.html"><img src="{{ site.baseurl }}/images/jasa-label-baju-jakarta.jpg" /></a>LABEL BAJU</li>
            </ul>
          </div>
        </div>
