        <div style="border-top: 2px solid #111;background: #ffe766;border-bottom: 2px solid #111;">
          <div class="container">
            <ul id="menutop">
              <li><a href="{{site.baseurl}}/daftar-harga-konveksi-kaos.html"><img src="https://2.bp.blogspot.com/-cjI8lhHBeyc/WNSeRxR80tI/AAAAAAAAEEM/tzwLkw9FjpogDK4uNLg70lxvKpzVBb9bwCLcB/s200/jual-katun-combed-30s.jpg" /></a>MAKLOON T-SHIRT</li>
              <li><a href="{{site.baseurl}}/daftar-harga-konveksi-seragam.html"><img src="{{ site.baseurl }}/images/jasa-konveksi-kemeja-pria-jakarta.jpg" /></a>MAKLOON KEMEJA</li>
              <li><a href="{{site.baseurl}}/daftar-harga-jahit-celana.html"><img src="{{ site.baseurl }}/images/konveksi-celana-chino-jakarta-selatan.jpg" /></a>MAKLOON CELANA</li>
              <li><a href="{{site.baseurl}}/menerima-pembuatan-label-baju.html"><img src="{{ site.baseurl }}/images/jasa-label-baju-jakarta.jpg" /></a>LABEL BAJU</li>
            </ul>
          </div>
        </div>
